<h1 id="tableLabel">Cars</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="cars.length === 0"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<div style="margin:auto">
  Make:
  <select (change)="onSelect($event)">
    <option value=""></option>
    <option value="Toyota">Toyota</option>
    <option value="Honda">Honda</option>
    <option value="Ford">Ford</option>
    <option value="BMW">BMW</option>
    <option value="Nissan">Nissan</option>
  </select>
</div>

<table *ngIf="cars.length > 0" role="grid" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th></th>
      <th>Model</th>
      <th>Make</th>
      <th>Colour</th>
      <th>Registration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index"
        (click)="selectCar(car)"
        [class.selected]="isSelected(car)"
        tabindex="0"
        role="row"
        [attr.aria-selected]="isSelected(car)">
      <td>
        <input type="radio"
               name="selectedCar"
               [attr.id]="'car-radio-' + i"
               [checked]="isSelected(car)"
               (change)="selectCar(car)"
               (click)="$event.stopPropagation()"
               [attr.aria-label]="'Select car ' + car.registration" />
      </td>
      <td>{{ car.model }}</td>
      <td>{{ car.make }}</td>
      <td>{{ car.colour }}</td>
      <td>{{ car.registration }}</td>
    </tr>
  </tbody>
</table>



<!-- Routed components will render here -->
<router-outlet></router-outlet>
